<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>778690285365-m5l15k4k3o01gf058cm27vs88ibo5pts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778690285365-m5l15k4k3o01gf058cm27vs88ibo5pts</string>
	<key>API_KEY</key>
	<string>AIzaSyD4QyQ_FSzlV3zU__rOxZ_Ov0unBs3X8XI</string>
	<key>GCM_SENDER_ID</key>
	<string>778690285365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atlas.seatonlabs</string>
	<key>PROJECT_ID</key>
	<string>cityscape-18ae5</string>
	<key>STORAGE_BUCKET</key>
	<string>cityscape-18ae5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:778690285365:ios:671898081c8212c0</string>
	<key>DATABASE_URL</key>
	<string>https://cityscape-18ae5.firebaseio.com</string>
</dict>
</plist>